<nav class="navbar navbar-light" style="background-color:white">
  <div class="container-fluid text-center">
    
    <!-- Use mx-auto and text-center to center the form -->
    <form class="d-flex mx-auto text-center">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <a href="http://localhost:3000/profile" type="button" class="btn btn-success">{{Name}}</a>
  </div>
</nav>
